<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="'/'">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [collapse]="isCollapsed">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="item.link" *ngFor="let item of menu"
        >{{ item.name }}<span class="sr-only">(current)</span></a
      >
    </div>
  </div>
</nav>
