<div class="col-12 text-center my-3">
  <img [src]="item?.img" />
  <p>{{ item?.id }}</p>
  <span *ngIf="isDetail">
    <button class="btn btn-outline-info boton-propagar w-25" id="button" (click)="onPropagar()">
      Propagar
    </button>
    <br />
    <a class="btn btn-outline-danger w-25 my-2 float-none" [routerLink]="'../'">Volver</a>
  </span>
  <a class="btn btn-outline-primary btn-block" *ngIf="!isDetail" [routerLink]="'./' + item?.id">Detalles</a>
</div>
